@model initial_d.Models.APIModels.BookingVM
@{ 
    // Product data needed to perform the Actions or make decisions about the menu
    string bookId = Model.booking_id;
    string statusId = Model.status_booking_id;
    bool isDeleted = Model.deleted;

    // Context to decide what to show
    string ctx = (string)ViewData["context"] ?? string.Empty;
    bool isList = ctx.Equals("list");
    bool isDetails = ctx.Equals("details");
    bool isdeleteList = ctx.Equals("deleteList");

    // Ids to keep an eye on
    string actId = "ACT"; // Activa
    string reaId = "REA"; // Realizada
    string perId = "PER"; // Hora Perdida
    string canId = "CAN"; // Cancelada

    bool isAdmin = User.IsInRole("ADM");

    // Action URLs
    string detailsUrl = Url.Action("BookDetails", "Booking", new { bookId });
    string update_Url = Url.Action("UpdateBook", "Booking", new { bookId });
}

<div class="dropdown">

	<button class="btn btn-yellow btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
			data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<i class="fa fa-cog mr-1 " aria-hidden="true"></i>
		Acciones
	</button>

	<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
		<div class="d-flex flex-column">
			@if(isList || isdeleteList)
            {
                <!-- DETALLES -->
                <a href="@detailsUrl" class="dropdown-item small">
                    <i class="fa fa-bars mr-1 " aria-hidden="true"></i>
                    Detalles
                </a>
			}

            @if (isDetails && !isDeleted)
            {
                <!-- ACTUALIZAR DATOS -->
				<a class="dropdown-item small" href="#update-store-sche-modal" data-toggle="modal">
					<i class="fa fa-history" aria-hidden="true"></i>
					Reagendar Reserva
				</a>
            }

			@if ((isDetails || isList) && !isDeleted)
            {

				<!-- CANCELAR VENTA PENDIENTE -->
                if (statusId.Equals(actId))
                {
					<a class="dropdown-item small"
					   data-toggle="modal" href="#cancel-modal" data-book-id="@bookId">
						<i class="fa fa-ban" aria-hidden="true"></i>
						Cancelar
					</a>
				}

				<!-- ELIMINAR -->
				<a class="dropdown-item small" role="button" data-toggle="modal" data-book-id="@bookId" href="#delete-modal">
					<i class="fa fa-trash" aria-hidden="true"></i>
					Eliminar
				</a>
			}

			@if(isDeleted)
			{
				<!-- RESTAURAR -->
				<a class="dropdown-item small" role="button" data-toggle="modal" data-book-id="@bookId" href="#delete-modal">
					<i class="fa fa-trash-restore" aria-hidden="true"></i>
					Restaurar
				</a>
			}

		</div>

	</div>

</div>