
@import "https://fonts.googleapis.com/css2?family=Open+Sans&display=swap";

:root {
    --black-0: #485531;
    --black-1: #1e2118;
    --black-2: #0b0e00;
    --white-1: #f5f5f5;

    --yellow-0 : #ffee9b;
    --yellow-1 : #ffe87a;
    --yellow-2 : #ffe049;
    --yellow-3 : #ffd505;
    --yellow-4 : #f9c907;
    --yellow-5 : #f2c00c;

    /* --yellow-1 : #a2d340;
    --yellow-2 : #b2e846;
    --yellow-3 : #c3ff4c;
    --yellow-4 : #cdff6c;
    --yellow-5 : #d6ff86; */

    --green: #0abb87;
    --green-dark : #1b8a68;
    
    --red: #cc3d3d;
    --red-dark : #a71e1e;
    
    --blue: #5ab1cc;
    --blue-dark: #3b98b4;

    --sidebar-width: 208px;
    --sidebar-width-closed: 64px;
    --transition-speed: 0.2s;
}

/* ---------------------------------------------------
    MAIN CONTENT
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    padding-top: 70px;
    min-height: 100vh;
    margin-top: -50px;
    transition: all var(--transition-speed);
}

/* ---------------------------------------------------
    GENERAL
----------------------------------------------------- */

body {
    font-size: 0.8rem;
    font-family: 'Open Sans', sans-serif;
    background: rgb(252, 250, 246);
}

footer p {
    font-size: 0.7em;
    margin: 0;
}

input, select:not(.hourselect):not(.minuteselect) {
    min-width: 240px;
}


p, li, a, td, input  {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #4d4d4d;
}

    a, a:hover, a:focus {
        text-decoration: none;
        transition: all var(--transition-speed);
        color: var(--yellow-5)
    }

        a:hover {
            text-decoration-line: underline;
            text-decoration-style: dotted;
            color: var(--yellow-3)
        }

        a:focus {
            text-decoration: none !important;
        }


input[type="text"], input[type="number"]
{
    font-size: 0.8em;
    height: 2.1em;
}
input[type="password"]
{
    font-size: 1em;
    height: 2.1em;
}
/* Input[number] without spinner */
.no-spinner {
    -moz-appearance: textfield;
}
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}


.field-validation-error span {
    color: red;
    font-size: 0.8em;
}
.field-validation-error span::before{
    content:"* ";
}
    
.c-jumbotron{
    padding: 1rem !important;
    box-shadow: 0 .125rem .25rem #00000013 !important;
    border-radius: .25rem !important;
    background-color: #fff !important;
}

.dropdown-menu{
    min-width: max-content;
}
.dropdown-item {
	padding: .25rem 0.8rem;
	color: #212529;
}

.form-group label {
    font-weight: bold;
}


.cursor-pointer{
    cursor: pointer;
}

h5.modal-title .fa {
    margin-right: .5rem;
    /* align-self-center */
    -ms-flex-item-align: center !important;
    align-self: center !important;
}


.w-max-content {
    width: max-content;
    min-width: unset !important;
}

/* SCREEN WIDTH > 579px */
@media (min-width: 579px) {
    .w-max-content-sm {
        width: max-content;
        min-width: unset !important;
    }
}
/* SCREEN WIDTH > 768px */
@media (min-width: 768px) {
    .w-max-content-md {
        width: max-content;
        min-width: unset !important;
    }
}
/* SCREEN WIDTH > 992px */
@media (min-width: 992px) {
    .w-max-content-lg {
        width: max-content;
        min-width: unset !important;
    }
}


.w-5rem {
    width: 5rem;
    min-width: 1px;
}



.bootstrap-datetimepicker-widget .fa {
    color: black !important;
}



.action-dw .dropdown {
    display: flex;
    margin-left: auto !important
}


/* ---------------------------------------------------
    HEADERS        |        header
----------------------------------------------------- */
.header {
    /* row */
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* mt-3 mb-2rem*/
    margin-top: 1rem !important;
    margin-bottom: 0.5rem !important;
}
    .header .header-title{
        /* d-flex */
        display: -ms-flexbox;
        display: flex;
        /* mb-1 mr-1*/
        margin-bottom: 1rem !important;
        margin-right: 1rem !important;
        /* text-center */
        text-align: center;
    }

    .header .header-title .fa{
        font-size:1.75rem;
        /* mt-2 */
        margin-right: .75rem;
        /* align-self-center */
        -ms-flex-item-align: center !important;
        align-self: center !important;
    }
    .header .header-title h2{
        /* mb-0 */
        margin-bottom: 0;
    }

    .header .header-buttons {
        /* ml-auto  */
        margin-left: auto !important;
        /* d-flex */
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-align: start !important;
        align-items: flex-start !important;

        -ms-flex-direction: column !important;
        flex-direction: column !important;
    }

        .header .header-buttons .btn,
        .header .header-buttons .dropdown {
            align-self: flex-end;
            margin: 0rem !important;
            margin-right: 0rem !important;
            margin-bottom: 0.5rem !important;
        }

    @media (min-width: 576px) {
        .header .header-buttons {
            -ms-flex-direction: row !important;
            flex-direction: row !important;
        }
            .header .header-buttons .btn,
            .header .header-buttons .dropdown {
                align-self: flex-start;
                margin-bottom: 0rem !important;
            }
                .header .header-buttons .btn:not(:last-child) {
                    margin-right: 1rem !important;
                }

    }


/* ---------------------------------------------------
    BACKGROUND AND COLORS
----------------------------------------------------- */
.bg-green {
    background: var(--green);
    color: #fff;
}
.bg-black{
    background: #282a3c;
    color: #fff;
}
.color-green{
    color: var(--green);
}
.color-yellow {
    color: var(--yellow-5);
}
.color-red {
    color: var(--red);
}

/* ---------------------------------------------------
    CUSTOM BADGES        |        c-badge
----------------------------------------------------- */

.c-badge {
    width: 2.5rem;
    padding: 1px 10px;
    border-radius: 5px;
    text-align: center;
}

/* ---------------------------------------------------
    LOCAL NAVBAR
----------------------------------------------------- */
.navbar {
    padding: 5px;
    background: #2D2D2D;
    height: 50px;
}

    .navbar .nav .nav-link {
        color: whitesmoke;
        font-weight: 100;
        font-size: 0.9rem;
    }

        .navbar .nav .nav-link:hover {
            color: var(--yellow-3);
        }

.navbar-light .navbar-nav .active > .nav-link {
    color: var(--yellow-3);
    font-weight: 600;
}

.navbar .navbar-collapse{
    background-color: var(--black-1);
}

@media (min-width: 768px) {

    .navbar .navbar-collapse {
        background-color: transparent;
    }
}

    /* ---------------------------------------------------
    GENERAL RESIZING FOR >1550px
----------------------------------------------------- */
    @media (max-width: 1550px) {
        : root {
            --sidebar-width: 220px;
            --sidebar-width-closed: 60px;
        }

        body {
            font-size: 80%;
        }

        span {
            /* font-size: 85% !important; */
            font-size: inherit;
        }

        button, a:not(.small), td, textarea, select {
            font-size: 100% !important;
        }

        input[type="text"], input[type="number"] {
            font-size: 125% !important;
        }

        h1 {
            font-size: 2.1rem;
        }

        h2 {
            font-size: 1.75rem;
        }

        h3 {
            font-size: 1.5rem;
        }

        h4 {
            font-size: 1.25rem;
        }

        h5 {
            font-size: 1rem;
        }
    }


    @media (max-width: 580px) {

        h2 {
            font-size: 1.5rem;
        }

        .title {
            text-align: center;
        }
    }

    /* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
    .wrapper {
        display: flex;
        align-items: stretch;
    }

    #sb-toggle-in-button {
        height: 50px;
        /*  d-none w-100 rounded-0 */
        display: none;
        width: 100%;
        border-radius: 0;
    }

    /*  Sidebar Base */
    #sidebar {
        min-width: var(--sidebar-width);
        max-width: var(--sidebar-width);
        background: var(--black-1);
        color: var(--white-1);
        transition: all var(--transition-speed);
    }


        #sidebar a {
            color: var(--white-1);
            font-size: 1em;
            text-decoration: none;
        }

        /* CLOSED Sidebar Base */
        #sidebar.closed {
            min-width: var(--sidebar-width-closed);
            max-width: var(--sidebar-width-closed);
            text-align: center;
        }

        #sidebar.pre-open {
            min-width: var(--sidebar-width);
            max-width: var(--sidebar-width);
        }

        /* CLOSED: Sidebar links style */
        #sidebar.closed ul li a {
            padding: 10px 0px;
            text-align: center;
            font-size: 0.80em;
        }
            /* CLOSED: Sidebar Links Icon style */
            #sidebar.closed ul li a i {
                display: block;
                font-size: 1.1em;
                margin-bottom: 5px;
                /* margin-right: 0;
            margin-left: 0; */
            }

        /* CLOSED: Sidebar Sub-Links style */
        #sidebar.closed ul ul a {
            padding: 10px !important;
        }

        /* CLOSED: Flechita para los Sidebar Links colapsables */
        #sidebar.closed .dropdown-toggle::after {
            top: auto;
            bottom: 10px;
            right: 50%;
            -webkit-transform: translateX(50%);
            -ms-transform: translateX(50%);
            transform: translateX(50%);
        }

        /* HEADER */
        #sidebar .sidebar-header {
            padding: 20px;
            background: var(--black-2);
            color: var(--yellow-3);
        }

            #sidebar .sidebar-header strong {
                display: none;
                font-size: 1.8em;
            }
        /* CLOSED: Hide the Big Header and the CTA */
        #sidebar.closed .sidebar-header h3,
        #sidebar.closed .CTAs,
        #sidebar.closed .sidebar-header small {
            display: none;
        }

        #sidebar.closed .sidebar-header {
            padding: 20px 0px;
        }

            /* CLOSED: Show the Small Header */
            #sidebar.closed .sidebar-header strong {
                display: block;
            }
        /* Hide all text when is collapsed */
        #sidebar.closed span {
            display: none;
        }


        /* Links container */
        #sidebar ul.components {
            padding-top: 10px;
            padding-bottom: 20px;
            border-bottom: 1px solid var(--yellow-3);
        }

        #sidebar.closed ul.components {
            border: 0px;
        }

        /* Links */
        #sidebar ul li a {
            padding: 10px;
            font-size: 1.1em !important;
            display: block;
        }
            /* Links Hover */
            #sidebar ul li a:hover, #sidebar ul li.active a {
                color: var(--yellow-3) !important;
                background: var(--black-2) !important;
            }
                /* Links Icons */
                #sidebar ul li a i, #sidebar ul li.active a i {
                    margin-right: 10px;
                    margin-left: 5px;
                    font-size: 1.2em !important;
                }

        /* Sidebar CTA */
        #sidebar ul.CTAs {
            padding: 20px;
        }
            /* Sidebar CTA */
            #sidebar ul.CTAs a {
                text-align: center;
                font-size: 0.9em !important;
                display: block;
                border-radius: 5px;
                margin-bottom: 5px;
            }



    /* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

    @media (max-width: 767px) {
        #sidebar.closed {
            min-width: 0px;
            max-width: 0px;
        }

            #sidebar.closed .sidebar-header {
                display: none;
            }

            #sidebar.closed ul li a {
                display: none;
            }
    }


    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
        padding-right: 0;
        padding-left: 0;
    }

    .form-row > .col, .form-row > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }

    .form-row {
        margin-right: 0;
        margin-left: 0;
    }