/* ---------------------------------------------------
    INFO TABLE        |        c-info-table
----------------------------------------------------- */
/* Make a cell just wide enough fo fit its content */
.cell-compact {
    width: 1%;
    white-space: nowrap;
    padding-right: 1rem !important;
}

/* SCREEN WIDTH > 579px */
@media (min-width: 579px) {
    .cell-compact-sm {
        width: 1%;
        white-space: nowrap;
        padding-right: 1rem !important;
    }
}

/* Make it small */
.c-info-table td, 
.c-info-table th {
	padding: .4rem;
}

.table-th-compact tr th {
    width: 1%;
    white-space: nowrap;
    padding-right: 1rem !important;
}

.c-info-table th div {
    width: max-content;
}

.c-info-table thead{
    background: var(--yellow-1);
}

.c-info-table thead tr th{
    /* text-align: center !important; */
    padding-left: 1%;
    vertical-align: middle;
}

/* Odd rows */
.c-info-table tbody tr:nth-of-type(2n) {
    background-color: #ffee001a;
}
/* Even Rows */
.c-info-table tbody tr:nth-of-type(2n+1) {
    background-color: var(--yellow-3)+33;
}
/* Row Hover */
.c-info-table tbody tr:hover {
    color: #212529;
    background-color: var(--yellow-0);
}
/* ---------------------------------------------------
    Custom Bordered      |      .c-table-bordered
----------------------------------------------------- */

.c-table-bordered td, 
.c-table-bordered th {
    border: 0px !important;
}
/* SMALL TABLE */
@media (max-width: 578px){
    .c-table-bordered tbody tr {
        border: 1px solid var(--yellow-2) !important;
    }
    .c-table-bordered tbody tr td {
        border-bottom: 1px solid var(--yellow-1) !important;
    }
}

/* NORMAL TABLE */
@media (min-width: 579px) {
    .c-table-bordered tbody tr td {
        border: 1px solid var(--yellow-1) !important
    }

    .c-table-bordered thead tr th:not(:last-of-type) {
        border-right: 1px solid var(--yellow-3) !important
    }
}

/* ---------------------------------------------------
    Custom Bordered for DataResume      |      .c-data-table-bordered
----------------------------------------------------- */
/* Clean the Bootstrap style */
.c-data-table-bordered td, 
.c-data-table-bordered th {
    border: 0px !important;
}

/* Define the new one, only border in the rows */
.c-data-table-bordered tr{
    border: 1px solid var(--yellow-1) !important
}


/* ---------------------------------------------------
    TO HIDE CELLS      |      .cell-hidden-{size}
----------------------------------------------------- */
.cell-hidden-sm , .cell-hidden-md , .cell-hidden-lg, .cell-hidden-xl {
    display: none;
}

@media (min-width: 579px) {
    .cell-hidden-sm{
        display: table-cell;
    }
}
@media (min-width: 767px) {
    .cell-hidden-md{
        display: table-cell;
    }
}
@media (min-width: 998px) {
    .cell-hidden-lg{
        display: table-cell;
    }
}
@media (min-width: 1140px){
    .cell-hidden-xl{
        display: table-cell;
    }
}

/* ---------------------------------------------------
    FOR CLICKABLES ROWS      |      clickable-row
----------------------------------------------------- */

/* Use .not-clickable on a cell to exclude it from the clickable row  */
.clickable-row td:not(.not-clickable){
    cursor: pointer;
}

/* ---------------------------------------------------
    MAKE THOSE TABLES RESPONSIVE BABE
----------------------------------------------------- */
/* 579px    |    sm */
@media (max-width: 579px) {
  
    .c-table-sm-responsive caption {
        font-size: 1.3em;
    }
    
    .c-table-sm-responsive thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    
    .c-table-sm-responsive tr {
        display: block;
        margin-bottom: .625em;
    }
    
    .c-table-sm-responsive td {
        display: block;
        font-size: 1em;
        text-align: left;
    }

    .c-table-sm-responsive td, table th {
        border-top: 0;
    }
    
    .c-table-sm-responsive td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
        width: 100%;
    }
    
    .c-table-sm-responsive td:last-child {
        border-bottom: 0;
    }
}
/* 767px    |    md */
@media (max-width: 767px) {
  
    .c-table-md-responsive caption {
        font-size: 1.3em;
    }
    
    .c-table-md-responsive thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    
    .c-table-md-responsive tr {
        display: block;
        margin-bottom: .625em;
    }
    
    .c-table-md-responsive td {
        display: block;
        font-size: .8em;
        text-align: right;
    }

    .c-table-md-responsive td, table th {
        border-top: 0;
    }
    
    .c-table-md-responsive td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    .c-table-md-responsive td:last-child {
        border-bottom: 0;
    }
}
/* 998px    |    lg*/
@media (max-width: 998px) {
  
    .c-table-lg-responsive caption {
        font-size: 1.3em;
    }
    
    .c-table-lg-responsive thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    
    .c-table-lg-responsive tr {
        display: block;
        margin-bottom: .625em;
    }
    
    .c-table-lg-responsive td {
        display: block;
        font-size: .8em;
        text-align: right;
    }

    .c-table-lg-responsive td, table th {
        border-top: 0;
    }
    
    .c-table-lg-responsive td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    .c-table-lg-responsive td:last-child {
        border-bottom: 0;
    }
}