@* Just make a button these attributes and done      
   data-toggle="modal" href="#delete-modal" data-mech-id="{mechId}" 
*@

<div id="delete-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    Advertencia
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p>¿Estas seguro/a que quieres eliminar a este Mecánico?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">
                    <i class="fa fa-backspace" aria-hidden="true"></i>
                    Cancelar
                </button>
                <a id="modal-delete-btn" href="#" role="button" class="btn btn-sm btn-danger">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    Eliminar
                </a>
            </div>

        </div>
    </div>
</div>

<script>
    function LoadDeleteScript() {
        $(document).on('show.bs.modal', '#delete-modal', function (event) {
            // Button that triggered the modal
            var button = $(event.relatedTarget)

            // Extract the userId
            var mechId = button.data('mech-id')

            // Get the actual delete button from the modal
            var delbtn = $(this).find('#modal-delete-btn');

            // Change the href. Maybe this shouldn't be so hardcoded.
            let url = '@Url.Action("DeleteMech", "Mecanicos", new { mechId = "replace_this_id" })'.replace('replace_this_id', mechId);

            delbtn.attr('href', value = url);
        });
    }
    WaitForJquery(LoadDeleteScript);
</script>