@{
    ViewBag.Title = "Contact";
}

@section InternalNavbarOptions{
    @Html.Partial("_InternalNavbar", new ViewDataDictionary { { "Action", "Contact" } })
}

<h2 class="font-weight-bold">Tittle</h2>
<h3>Bajada de título Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>

<hr />

<div>
    <h1>Texto con H1</h1>
    <h2>Texto con H2</h2>
    <h3>Texto con H3</h3>
    <h4>Texto con H4</h4>
    <h5>Texto con H5</h5>
    <p>Texto con p</p>
    <a href="#">Texto con con link</a>
    <div class="mb-2"></div>
    <ul>
        <li>Lista 1</li>
        <li>Lista 2</li>
        <li>Lista 3</li>
    </ul>
</div>
