.wrapper {
    /*
    width: 100vw;*/
    height: 100vh;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    background: var(--black-1);
    /* d-flex */
    /* justify-content-center */
    /* align-items-center */
}

.login-cont {
    max-width: 25rem;
    background: var(--yellow-3);
    padding: 20px 30px;
    margin: 0px 20px;
    border-radius: 5px;
    height: max-content;
}

#login-btn {
    width: 8rem;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: var(--yellow-1);
    border-color: var(--yellow-0);
}

a:not(.btn) {
    color: #a7800e;
    text-decoration: underline;
}
    a:not(.btn):hover {
        color: #daa60a;
        text-decoration: underline;
    }



input {
    min-width: max-content;
}

input[type="password"] {
    font-size: initial;
    height: 2.1em;
}