@* Just make a button these attributes and done
    data-toggle="modal" href="#status-modal" data-prod-id="{prodId}" data-new-state="{prodState}"
*@

<div id="status-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            @using (Html.BeginForm("ChangeProdStatus", "Productos", FormMethod.Post))
            {
                @* Update with JS *@
                @Html.Hidden("prodId", "", new { @class = "prodId" })
                @Html.Hidden("prodStatusId", "", new { id = "prodStatusId" })
                <div class="modal-header">
                    <h5 class="modal-title">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        Advertencia
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    @* Update with JS *@
                    <p></p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">
                        <i class="fa fa-backspace" aria-hidden="true"></i>
                        <span>Cancelar</span>
                    </button>
                    @* Update with JS *@
                    <button type="submit" role="button" class="btn btn-sm btn-red">
                        <i class="fa fa-exchange-alt" aria-hidden="true"></i>
                        <span>Deshabilitar</span>
                    </button>
                </div>
            }

        </div>
    </div>
</div>

<script>
    {
        WaitForJquery( function() {
            $(document).on('show.bs.modal', '#status-modal', function (event) {
                // Button that triggered the modal
                var button = $(event.relatedTarget)
                var modal = $(this);

                // Extract the prodId
                var prodId = button.data('prod-id')
                console.log(prodId);
                // Change the prodId of the hidden input
                $('#status-modal .prodId').val(prodId);
            
                // Extract the prodId
                var prodState = button.data('new-state')
                // Change the prodId of the hidden input
                modal.find('#prodStatusId').val(prodState);

                var main_msg = modal.find('.modal-body p');
                var btn_submit = modal.find(':submit');
                var submit_icon = btn_submit.find('i.fa');
                var submit_span = btn_submit.find('span');

                if (prodState == 'INA') {
                    main_msg.text('¿Seguro/a que desea dehabilitar este Producto?');

                    submit_icon.removeClass('fa-unlock-alt fa-lock');
                    submit_icon.addClass('fa-lock');

                    submit_span.text("Deshabilitar");

                    btn_submit.removeClass('btn-red btn-green');
                    btn_submit.addClass('btn-red');
                }
                else if (prodState == 'ACT') {
                    main_msg.text('¿Seguro/a que desea habilitar este Producto?');

                    submit_icon.removeClass('fa-unlock-alt fa-lock');
                    submit_icon.addClass('i.fa').addClass('fa-unlock-alt');

                    submit_span.text("Habilitar");

                    btn_submit.removeClass('btn-red btn-green');
                    btn_submit.addClass('btn-green');
                }
                else {
                    // an error or something
                }
            });
        });
    }
</script>
