@model List<initial_d.Common.NavbarItems>

@{
    var CurrentAction = ViewContext.RouteData.Values["action"];
    var Items = Model ?? new List<initial_d.Common.NavbarItems>();
}

@foreach (var item in Items)
{
    string active = (CurrentAction.Equals(item.ActionName) ? "active" : "");

    <li class="nav-item @active">
        <a class="nav-link py-1" href="@Url.Action(item.ActionName, item.ControllerName)"> @item.ViewName </a>
    </li>
}

