@using Microsoft.AspNet.Identity

@{ 
    string PerfilUrl = Url.Action("Profile", "UserProfile");
}

<link href="~/Content/CSS/partial-login.css" rel="stylesheet" />

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <div class="dropdown">
            <button class="btn btn-secondary btn-sm px-3 dropdown-toggle" type="button" id="login-dw" 
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @User.Identity.GetUserName()
            </button>


            <div class="dropdown-menu login-dw-box" aria-labelledby="login-dw">
                <a class="dropdown-item" href="@PerfilUrl">Perfil</a>
                <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Cerrar Sesión</a>
            </div>
        </div>

    }
}
else
{
    <p style="color: red"> ERROR, POR FAVOR CONTACTARSE CON LA PERSONA A CARGO DEL SISTEMA. </p>
}
